<%- include('temporary/_header')%>


<h1 class="text-center m-5">Contact App</h1>

<div class="container">
    <form action="/" method="POST" class="mb-5" autocomplete="off">
    <input type="text" name="name"class="form-control mb-2" placeholder="Enter name Here">
    <input type="email" name="email"class="form-control mb-2" placeholder="Enter email Here">
    <input type="number" name="contact"class="form-control mb-2" placeholder="Enter contact Here">

    <button type="submit" class="btn btn-success form-control">Save</button>
    
    </form>
</div>


<div class="container text-center">
<div class="row">
    <div class="col-3">
        <h1>Name</h1>
    </div>
    <div class="col-3">
        <h1>Email</h1>
    </div>
    <div class="col-3">
        <h1>Contact</h1>
    </div>
    <div class="col-3">
        <h1>Action</h1>
    </div>
</div>


<%contacts.forEach(contact=>{%>
<div class="row mt-2">
    <div class="col-3"><%=contact.name%></div>
    <div class="col-3"><%=contact.email%></div>
    <div class="col-3"><%=contact.contact%></div>
    <div class="col-3">
        <a href="/update/<%=contact.id%>" class="btn btn-warning btn-sm">Update</a>

<form class="d-inline" action="/<%=contact.id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
    </form>
    </div>
</div>

<%})%>

</div>




<%- include('temporary/_footer')%>